<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/countries"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="country">{{country.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-button (click)="setModif()" *ngIf="!modif">Rendre Modifiable</ion-button>
  
  <div *ngIf="!modif">


    <ion-grid *ngIf="country">
      <ion-card>
        <ion-button id="trash" (click)="onDelete(country.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <div class="imagecard">
          <img [src]="country.flag" />
        </div>
        <ion-card-header>
          <ion-card-title><strong>Nom du pays</strong><br>{{country.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-row>
            <ion-col size="12">
              <img [src]="country.map">
            </ion-col>
            <ion-col size="6">
              <strong>Nom du pays </strong> <br>
              {{country.name}} <br>
              <strong>Devise du pays </strong> <br>
              {{country.motto}} <br>
              <strong>Capital </strong> <br>
              {{country.capital}} <br>
            </ion-col>
            <ion-col size="6">
              <strong>Langues officielles</strong><br>
              {{country.language}} <br>
              <strong>Superficie</strong> <br>
              {{country.area}} km² <br>
              <strong>Continent</strong> <br>
              {{country.continent}}
            </ion-col>
            <ion-col size="12">
              <strong>IDH</strong><br>
              {{country.idh}} <br>
              <strong>Climat</strong> <br>
              {{country.climate}} <br>
              <strong>Population</strong> <br>
              {{country.population}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Résumé</strong> <br>
              <p>
                test
              </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-grid>
  </div>
  <div *ngIf="modif && country">
    <ion-item>
      <ion-label>Carte</ion-label>
      <ion-input type="text" [(ngModel)]="country.map"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nom du pays</ion-label>
      <ion-input type="text" [(ngModel)]="country.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Drapeau</ion-label>
      <ion-input type="text" [(ngModel)]="country.flag"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Devise</ion-label>
      <ion-input type="text" [(ngModel)]="country.motto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Langue officielles</ion-label>
      <ion-input type="text" [(ngModel)]="country.language"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Capital</ion-label>
      <ion-input type="text" [(ngModel)]="country.capital"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Superficie</ion-label>
      <ion-input type="text" [(ngModel)]="country.area"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Continent</ion-label>
      <ion-input type="text" [(ngModel)]="country.continent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Population</ion-label>
      <ion-input type="text" [(ngModel)]="country.population"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>IDH</ion-label>
      <ion-textarea type="text" [(ngModel)]="country.idh"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Densité</ion-label>
      <ion-textarea type="text" [(ngModel)]="country.density"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Climat</ion-label>
      <ion-textarea type="text" [(ngModel)]="country.climate"></ion-textarea>
    </ion-item>
    <p class="text-center">
      <ion-button (click)="onModif()">Modifier</ion-button>
    </p>
  </div>
</ion-content>