<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/countries"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="country">{{country.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="setModif()">Rendre Modifiable</ion-button>
  <div *ngIf="!modif">
    <ion-grid *ngIf="country">
      <ion-row> 
        <ion-col>
          <ion-button (click)="onDelete(country.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <img [src]="country.flag">
        </ion-col>
        <ion-col size="6">
          <strong>Nom du pays</strong> <br>
          {{country.name}} <br>
          <strong>Drapeau</strong> <br>
          {{country.flag}} <br>
          <strong>Devise du pays</strong> <br>
          {{country.motto}} <br>
          <strong>Carte</strong> <br>
          {{country.map}} <br>
          <strong>Capital</strong> <br>
          {{country.capital}} <br> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Langues officielles</strong><br>
          {{country.language}} <br>
        </ion-col>
        <ion-col>
          <strong>Superficie</strong> <br>
          {{country.area}}
        </ion-col>
        <ion-col>
          <strong>Continent</strong> <br>
          {{country.continent}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Résumé</strong> <br>
          <p>
            test
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="modif && country">
    <ion-item>
      <ion-label>Carte</ion-label>
      <ion-input type="text" [(ngModel)]="country.map"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nom du pays</ion-label>
      <ion-input type="text" [(ngModel)]="country.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Drapeau</ion-label>
      <ion-input type="text" [(ngModel)]="country.flag"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Devise</ion-label>
      <ion-input type="text" [(ngModel)]="country.motto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Langue officielles</ion-label>
      <ion-input type="text" [(ngModel)]="country.language"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Capital</ion-label>
      <ion-input type="text" [(ngModel)]="country.capital"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Superficie</ion-label>
      <ion-input type="text" [(ngModel)]="country.area"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Continent</ion-label>
      <ion-input type="text" [(ngModel)]="country.continent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Population</ion-label>
      <ion-input type="text" [(ngModel)]="country.population"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>IDH</ion-label>
      <ion-textarea rows="20" [(ngModel)]="country.idh"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Densité</ion-label>
      <ion-textarea rows="20" [(ngModel)]="country.density"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Climat</ion-label>
      <ion-textarea rows="20" [(ngModel)]="country.climate"></ion-textarea>
    </ion-item>
    <p class="text-center">
      <ion-button (click)="onModif()">Modifier</ion-button>
    </p>
  </div>
</ion-content>