<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Les pays du monde</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <header class='masthead'>
      <p class='masthead-intro'>Bonjour, je suis</p>
      <h1 class='masthead-heading'>Christophe PETRE!</h1>
    </header>
    <section class="introduction-section">
      <h1>Introduction</h1>
      <p>Je suis étudiant informatique à l'IUT de Metz en Licence pro Développeur Web et mobile pour le commerce
        électronique.</p>
      <p>J'aime les nouvelles technologies mais je suis également un passioné de géographie.</p>
    </section>
    <section class="project-section">
      <h1>Pourquoi la géographie ?</h1>
      <p>Depuis que je suis petit j'adore apprendre les drapeaux et l'emplacement des différents pays du monde. Avec mes
        soeurs et mon père nous faisions des concours pour savoir qui connaissait le plus de pays.</p>
      <p>C'est pour cette raison que j'ai voulu créer un site permettant d'apprendre les différentes informations des
        pays du monde.</p>
    </section>
    <section class="questions-section">
      <h1>Plus encore sur moi et mon projet</h1>
      <h2>Le projet</h2>
      <p>Le projet permet d'ajouter des nouveaux pays dans la base de données. Il permet de les modifier et de les
        supprimer.</p>
      <h2>Pourquoi je veux devenir développeur web ?</h2>
      <p>Je veux devenir développeur web car j'aime la proximité qu'il y a entre le client et le développeur, c'est un
        métier humain malgré le fait que nous soyons derrière nos machines.</p>
    </section>

    <footer class="content-footer">
      <p>Vous pouvez me retrouver sur les réseaux suivant :</p>
      <ul class="social">
        <li><a class="css-is-deranged" href="https://github.com/chrisdemon8">GitHub</a></li>
        <li><a class="css-is-deranged" href="https://chrisdemon8.github.io/christophe_cv/">Portfolio</a></li>
      </ul>

    </footer>
  </div>
</ion-content>