<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Qui suis-je ?</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="/assets/img/me.webp">
      </ion-col>

      <ion-col size="9">
        <p>
          Je m'appelle <strong>Méliodas</strong> et je suis un développeur web junior. Je suis passionné par le développement web et je suis à la recherche d'un stage de fin d'année.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non suscipit, aspernatur ab culpa quas repudiandae! Odit excepturi praesentium in ut, labore ad minus deleniti vero dolorem suscipit. Eaque ipsum odio sapiente adipisci modi illum. Provident ea doloremque, qui perspiciatis ut animi magni nihil esse illo consequatur nostrum distinctio dignissimos?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non suscipit, aspernatur ab culpa quas repudiandae! Odit excepturi praesentium in ut, labore ad minus deleniti vero dolorem suscipit. Eaque ipsum odio sapiente adipisci modi illum. Provident ea doloremque, qui perspiciatis ut animi magni nihil esse illo consequatur nostrum distinctio dignissimos?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non suscipit, aspernatur ab culpa quas repudiandae! Odit excepturi praesentium in ut, labore ad minus deleniti vero dolorem suscipit. Eaque ipsum odio sapiente adipisci modi illum. Provident ea doloremque, qui perspiciatis ut animi magni nihil esse illo consequatur nostrum distinctio dignissimos?
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
